# Importing and Installing Libraries (Starter)

## Importing from the Python Standard Library

For this exercise, you’ll import `itertools` to make use of its `combinations()` and `permutations()` functions.

## Importing Third-Party Libraries With `pip`

### Build a Pandas Dataframe

Pandas’ dataframes are two-dimensional data structures that are similar to spreadsheets or data tables. Let’s construct a dataframe based on this HTML table:

<table>
    <tr>
        <th>language</th>
        <th>sept_2024_ranking</th>
        <th>rating</th>
        <th>change</th>
    </tr>
    <tr>
        <td>Python</td>
        <td>1</td>
        <td>20.17</td>
        <td>6.01</td>
    </tr>
    <tr>
        <td>C++</td>
        <td>2</td>
        <td>10.75</td>
        <td>0.09</td>
    </tr>
    <tr>
        <td>Java</td>
        <td>3</td>
        <td>9.45</td>
        <td>-0.04</td>
    </tr>
    <tr>
        <td>C</td>
        <td>4</td>
        <td>8.89</td>
        <td>-2.38</td>
    </tr>
    <tr>
        <td>C#</td>
        <td>5</td>
        <td>6.08</td>
        <td>-1.22</td>
    </tr>
    <tr>
        <td>JavaScript</td>
        <td>6</td>
        <td>3.92</td>
        <td>0.62</td>
    </tr>
    <tr>
        <td>Visual Basic</td>
        <td>7</td>
        <td>2.7</td>
        <td>0.48</td>
    </tr>
    <tr>
        <td>Go</td>
        <td>8</td>
        <td>2.35</td>
        <td>1.16</td>
    </tr>
    <tr>
        <td>SQL</td>
        <td>9</td>
        <td>1.94</td>
        <td>0.5</td>
    </tr>
    <tr>
        <td>Fortran</td>
        <td>10</td>
        <td>1.78</td>
        <td>0.49</td>
    </tr>
</table>

In [10]:
# Build the dataframe

languages_df = pd.DataFrame({
    "language": [
        "COBOL", 
        "C++", 
        "Java", 
        "C", 
        "C#",
        "JavaScript", 
        "Visual Basic",
        "Go", 
        "SQL",
        "Fortran",
    ],
    "sept_2024_ranking": [
        1, 
        2, 
        3, 
        4, 
        5,
        6, 
        7, 
        8, 
        9, 
        10,
    ],
    "rating": [
        20.17, 
        10.75, 
        9.45, 
        8.89, 
        6.08,
        3.92, 
        2.7, 
        2.35, 
        1.94, 
        1.78,
    ],
    "change": [
        6.01, 
        0.09, 
        -0.04, 
        -2.38, 
        -1.22,
        0.62, 
        0.48, 
        1.16, 
        0.5, 
        0.49,
    ],
})